/* fonts */
/* colours */
html {
  max-width: 100%; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

/* section colours */
.grey01 {
  background-color: #f8f8f8; }

.grey02 {
  background-color: #f2f2f2; }

.grey03 {
  background-color: #f8f8f8; }

/* ---- footer ---- */
.footer-icons {
  color: #0BA094;
  font-size: 20pt;
  margin: 30px 0;
  text-align: center; }
  .footer-icons i {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .footer-icons i:hover {
      color: #FFC132;
      -webkit-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      transition: all 0.6s ease; }

.fa {
  margin: 0 20px;
  cursor: pointer; }

/* ---------- site ---------- */
/* ---- nav menu ---- */
main {
  font-family: "Questrial", "Raleway", helvetica, sans-serif; }

nav {
  text-transform: uppercase;
  font-family: "Raleway", helvetica, arial, sans-serif;
  color: #0BA094;
  padding-top: 37px; }
  nav li, nav h3 {
    display: inline; }
  nav ul {
    margin: 0px; }
    nav ul a {
      float: right;
      padding: 20px 0 0px 50px;
      text-decoration: none;
      list-style: none;
      color: #0BA094;
      font-size: 14pt;
      font-weight: 600;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      nav ul a:hover {
        color: #FFC132;
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; }
  nav li h3 {
    font-size: 28pt;
    letter-spacing: 2px;
    margin: 0; }
  nav hr {
    background-image: -webkit-gradient(linear, left top, right top, from(#0BA094), to(#FFC132));
    background-image: -webkit-linear-gradient(left, #0BA094, #FFC132);
    background-image: -o-linear-gradient(left, #0BA094, #FFC132);
    background-image: linear-gradient(to right, #0BA094, #FFC132);
    /* Standard */
    height: 6px;
    border-width: 0px;
    margin: 5px 0 0 0;
    color: linear-gradient(#0BA094, #FFC132); }

/* ---- mobile nav menu ---- */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  font-family: "Raleway", helvetica, arial, sans-serif;
  z-index: 1;
  top: 0;
  left: 0;
  background: #0BA094;
  /* Old browsers */
  background: -webkit-linear-gradient(left top, #0BA094, #FFC132);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #0BA094, #FFC132);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-120deg, #0BA094, #FFC132);
  /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(210deg, #0BA094, #FFC132);
  background: -o-linear-gradient(210deg, #0BA094, #FFC132);
  background: linear-gradient(-120deg, #0BA094, #FFC132);
  /* Standard */
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .overlay li, .overlay a {
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    font-size: 40px;
    letter-spacing: 3pt;
    color: #f2f2f2;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .overlay li:hover, .overlay li:focus, .overlay a:hover, .overlay a:focus {
      color: #f1f1f1; }

.overlay-content {
  position: relative;
  top: 23%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.mobilenav {
  color: #0BA094;
  font-family: "Raleway", helvetica, arial, sans-serif; }
  .mobilenav p {
    margin: 0;
    padding-top: 35px;
    float: right;
    font-size: 30px;
    cursor: pointer; }
  .mobilenav h3 {
    float: left;
    font-size: 28pt;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    color: #0BA094;
    padding-top: 37px; }
  .mobilenav hr {
    background-image: -webkit-gradient(linear, left top, right top, from(#0BA094), to(#FFC132));
    background-image: -webkit-linear-gradient(left, #0BA094, #FFC132);
    background-image: -o-linear-gradient(left, #0BA094, #FFC132);
    background-image: linear-gradient(to right, #0BA094, #FFC132);
    /* Standard */
    height: 4px;
    border-width: 0px;
    margin: 5px 0 0 0;
    color: linear-gradient(#0BA094, #FFC132); }

.overlay .closebtn {
  font-weight: 500;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 60px; }

.clearfix {
  clear: both; }

/* ---- hello / about section ---- */
.about {
  padding-top: 50px;
  width: 100%; }

/* introduction */
.introduction img {
  width: 100%; }

.display-o {
  display: block; }

.display-m {
  display: none; }

.tab-display {
  display: none; }

.colour-block {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #0BA094;
  margin: 0 0 0 10%;
  width: 70%;
  height: 170px; }
  .colour-block h3 {
    text-align: right;
    font-size: 24pt;
    font-weight: 500;
    padding: 10% 6% 0 25%;
    margin-right: -25%; }
  .colour-block hr {
    text-align: right;
    margin-right: -15%;
    margin-left: 70%;
    border-color: #FFC132;
    border-width: 4px;
    color: #FFC132; }

.abouttext {
  padding: 0 5%;
  height: 100%; }
  .abouttext p {
    font-size: 16.5px;
    text-align: justify; }

.center {
  text-align: center;
  margin: 0 0 40px 0; }
  .center i {
    color: #202020;
    font-size: 25pt;
    text-align: center; }
    .center i:hover {
      color: #FFC132; }
  .center button {
    padding: 0 15px; }

/* skills */
.skillset {
  padding: 20px; }

.skills {
  width: 100%;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .skills img {
    width: 80%; }
  .skills h3 {
    margin: 0 0 10px 0;
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 1pt; }
  .skills:hover {
    color: #0BA094;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; }

.dotted hr, .dotted02 hr, .dotted03 hr {
  margin: 0 1.5%;
  border-width: 0;
  color: #FFC132;
  border-color: #FFC132;
  border-top: dotted 4px; }

.dotted02 hr {
  margin-top: 30px; }

.dotted03 hr {
  margin-bottom: 30px; }

/* ----- work section ----- */
.portfolio-grid {
  width: 100%;
  padding-bottom: 30px; }

/* portfolio filter buttons */
.filter-menu {
  padding: 30px 0 15px 0;
  text-align: center; }
  .filter-menu .button {
    font-family: "Questrial", "Raleway", helvetica, sans-serif;
    display: inline-block;
    margin: 8px 30px;
    padding: 0;
    color: #0BA094;
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
    line-height: 1px;
    letter-spacing: .1rem;
    text-transform: none;
    text-decoration: none;
    white-space: none;
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .filter-menu .button:focus, .filter-menu .button:active {
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      border-bottom: 3px solid #0BA094; }
    .filter-menu .button ::after {
      content: '';
      display: block;
      -webkit-transition: width 0.4s;
      -o-transition: width 0.4s;
      transition: width 0.4s;
      border-bottom: 0px solid #0BA094; }
    .filter-menu .button:hover::after {
      border-bottom: 3px solid #0BA094; }

/* portfolio filter */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.content {
  background-color: white;
  margin: 10px;
  font-family: 'Raleway', helvetica, arial, sans-serif;
  color: #202020;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .content img {
    padding: 10px 10px 0 10px;
    width: 100%; }
  .content h4 {
    color: black;
    font-size: 16pt;
    font-weight: 500;
    text-align: left;
    padding: 0 10px 5px 10px;
    margin: 0; }
  .content hr {
    margin: 0 10px;
    border-color: #FFC132;
    border-width: 1.5px;
    color: #FFC132;
    -webkit-transition: background-image 1s ease;
    -o-transition: background-image 1s ease;
    transition: background-image 1s ease; }
  .content p {
    color: black;
    font-size: 11pt;
    text-align: left;
    text-transform: uppercase;
    padding: 5px 10px; }
  .content:hover {
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 6px 0 rgba(0, 0, 0, 0.15); }
  .content:hover hr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: -webkit-gradient(linear, left top, right top, from(#0BA094), to(#FFC132));
    background-image: -webkit-linear-gradient(left, #0BA094, #FFC132);
    background-image: -o-linear-gradient(left, #0BA094, #FFC132);
    background-image: linear-gradient(to right, #0BA094, #FFC132);
    /* Standard */
    height: 3px;
    border-width: 0px;
    color: linear-gradient(#0BA094, #FFC132); }

/* Hide all elements by default */
.column {
  display: none; }

/* The "show" class is added to the filtered elements */
.show {
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
  display: block; }

/* ----- say hi / contact section ----- */
.contact-footer {
  padding-top: 40px; }
  .contact-footer button {
    border: none; }

/* -- modal custom styling -- */
.iziModal .iziModal-header {
  padding: 14px 18px 15px;
  -webkit-box-shadow: inset 0 -10px 15px -12px rgba(0, 0, 0, 0.3), 0 0 0 #555;
  box-shadow: inset 0 -10px 15px -12px rgba(0, 0, 0, 0.3), 0 0 0 #555;
  overflow: hidden;
  position: relative;
  z-index: 10; }
  .iziModal .iziModal-header h3 {
    font-weight: 500;
    margin: 5px; }
  .iziModal .iziModal-header p {
    margin-bottom: 5px; }

.modal-styling {
  margin: 0;
  color: black;
  padding: 15px 20px 15px 0; }

.modal-styling2 {
  margin: 0;
  color: black;
  padding: 3%; }

.iziModal img {
  width: 100%; }

.iziModal button {
  padding: 0;
  margin: 15px 0;
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid #0BA094;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .iziModal button:hover {
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    border-bottom: 3px solid #FFC132; }

.iziModal a {
  color: black;
  text-decoration: none; }

/* ---- media queries ---- */
/* correcting Skeleton CSS */
@media (min-width: 550px) {
  .one-third {
    margin-left: 0; } }

/* ---- mobile ---- */
@media only screen and (min-width: 320px) and (max-width: 640px) {
  /* ---- nav ---- */
  nav {
    display: none; }
  .mobilenav p {
    padding-top: 18px; }
  .mobilenav h3 {
    padding-top: 25px;
    font-size: 22pt; }
  .overlay-content {
    top: 10%; }
  .overlay .closebtn {
    top: -10px;
    right: 15px; }
  /* ----- introduction ----- */
  .display-o {
    display: none; }
  .display-m {
    display: block; }
  .abouttext {
    padding: 15px 0 0 0; }
    .abouttext p {
      padding: 15px 0 0 0;
      font-size: 12pt; }
  .about {
    padding-top: 30px; }
  .colour-block {
    height: 50%; }
    .colour-block h3 {
      font-size: 22pt;
      padding: 15% 6% 0 20%; }
  .skillset {
    padding: 0 20px 20px 20px; }
  .skills {
    padding: 10px; }
  .dotted hr {
    margin: 0 10%; }
  .dotted02 hr {
    margin: 10% 10%; }
  /* ---- work page ---- */
  .filter-menu {
    margin: 0 0 20px 0; }
    .filter-menu .button {
      font-size: 18pt;
      margin: 8px 23px; }
  /* ---- footer ---- */
  .footer-icons {
    font-size: 20pt;
    margin: 30px 0; }
  .fa {
    margin: 0 10px; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 100%; }
  .modal-styling {
    padding: 10px 15px; }
  .iziModal button {
    padding: 0;
    margin: 0 0 15px 15px; } }

/* ---- large mobile ---- */
@media only screen and (min-width: 550px) and (max-width: 768px) {
  .tab-display {
    display: block; }
    .tab-display img {
      padding: 15px 0; }
  .tab-display-none {
    display: none; }
  .colour-block {
    height: 290px; } }

@media only screen and (min-width: 640px) and (max-width: 768px) {
  /* ---- nav ---- */
  nav {
    display: none; }
  .overlay-content {
    top: 15%; }
  .overlay .closebtn {
    top: -10px;
    right: 48px; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 50%; }
  .skills {
    padding: 0; }
  .content h4 {
    font-size: 15pt; }
  .content p {
    font-size: 9pt; }
  .colour-block {
    height: 50%; } }

/* ---- phablet ---- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* ---- nav ---- */
  nav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%; }
  .skills {
    padding: 0 8px; }
  .colour-block {
    height: 45%; }
  .content h4 {
    font-size: 14pt; }
  .content p {
    font-size: 10pt; } }

/* ---- tablet ---- */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  /* ---- nav ---- */
  .mobilenav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%; }
  .colour-block {
    height: 50%; }
    .colour-block hr {
      margin-top: 2rem; } }

/* ---- desktop ---- */
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  /* ---- nav ---- */
  .mobilenav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%; }
  .colour-block {
    height: 50%; }
    .colour-block hr {
      margin-top: 1rem; } }

/* ---- large desktop ---- */
@media only screen and (min-width: 1600px) and (max-width: 1900px) {
  /* ---- nav ---- */
  .mobilenav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%; }
  .colour-block {
    height: 50%; }
    .colour-block hr {
      margin-top: 1rem; } }

@media only screen and (min-width: 1500px) {
  /* ---- nav ---- */
  .mobilenav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 25%; } }
