/* fonts */
$font-main: 'Questrial', 'Raleway', helvetica, sans-serif;
$font-secondary: 'Raleway', helvetica, arial, sans-serif;

/* colours */
$primary-color: #FFC132;
$secondary-color: #0BA094;


html {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* section colours */
.grey01 {
  background-color: #f8f8f8;
}
.grey02 {
  background-color: #f2f2f2;
}
.grey03 {
  background-color: #f8f8f8;
}

/* ---- footer ---- */
.footer-icons {
  color: $secondary-color;
  font-size: 20pt;
  margin: 30px 0;
  text-align: center;
  i {
    transition: all 0.4s ease;
    &:hover {
      color: $primary-color;
      transition: all 0.6s ease;
    }
  }
}

.fa {
  margin: 0 20px;
  cursor: pointer;
}

/* ---------- site ---------- */

/* ---- nav menu ---- */
main {
  font-family: $font-main;
}

nav {
  text-transform: uppercase;
  font-family: $font-secondary;
  color: $secondary-color;
  padding-top: 37px;
  li, h3 {
    display: inline;
  }
  ul {
    margin: 0px;
    a {
      float: right;
      padding: 20px 0 0px 50px;
      text-decoration: none;
      list-style: none;
      color: $secondary-color;
      font-size: 14pt;
      font-weight: 600;
      transition: all 0.4s ease;
      &:hover {
      color: $primary-color;
      transition: all 0.6s ease;
      }
    }
  }
  li h3 {
    font-size: 28pt;
    letter-spacing: 2px;
    margin: 0;
  }
  hr {
  background-image: linear-gradient(to right,$secondary-color, $primary-color); /* Standard */;
  height: 6px;
  border-width: 0px;
  margin: 5px 0 0 0;
  color: linear-gradient($secondary-color, $primary-color);
  }
}



/* ---- mobile nav menu ---- */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  font-family: $font-secondary;
  z-index: 1;
  top: 0;
  left: 0;
  background: $secondary-color; /* Old browsers */    
  background: -webkit-linear-gradient(left top, $secondary-color, $primary-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $secondary-color, $primary-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-120deg, $secondary-color, $primary-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-120deg, $secondary-color, $primary-color); /* Standard */
  overflow-y: hidden;
  transition: 0.5s;
  li, a {
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    font-size: 40px;
    letter-spacing: 3pt;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
    &:hover, &:focus {
        color: #f1f1f1;
    }
  }
}

.overlay-content {
  position: relative;
  top: 23%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.mobilenav {
  color: $secondary-color;
  font-family: $font-secondary;
  p {
  margin: 0;
  padding-top: 35px;
  float: right;
  font-size: 30px;
  cursor: pointer
  }
  h3 {
  float: left;
  font-size: 28pt;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  color: $secondary-color;
  padding-top: 37px;
  }
  hr {
  background-image: linear-gradient(to right,$secondary-color, $primary-color); /* Standard */;
  height: 4px;
  border-width: 0px;
  margin: 5px 0 0 0;
  color: linear-gradient($secondary-color, $primary-color);
  }
}

.overlay .closebtn {
  font-weight: 500;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 60px;
}

.clearfix {
  clear: both;
}

/* ---- hello / about section ---- */

.about {
  padding-top: 50px;  
  width: 100%;
}

/* introduction */

.introduction {
  img {
    width: 100%;
  }
}

.display-o {
  display: block;
}

.display-m {
  display: none;
}

.tab-display {
  display: none;
}

.colour-block {
  // border-radius: 50% 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $secondary-color;
  margin: 0 0 0 10%;
  width: 70%;
  height: 170px;
  h3 {
    text-align: right;
    font-size: 24pt;
    font-weight: 500;
    padding: 10% 6% 0 25%;
    margin-right: -25%;
  }
  hr {
    text-align: right;
    margin-right: -15%;
    margin-left: 70%;
    border-color: $primary-color;
    border-width: 4px;
    color: $primary-color;
  }
}

.abouttext {
  padding: 0 5%;
  height: 100%;
  p {
    font-size: 16.5px;
    text-align: justify;  
  }
}



/* skills */
.skillset {
  padding: 20px; 
}
.skills {
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: all 0.6s ease;
  img {
    width: 80%;
  }
  h3 {
    margin: 0 0 10px 0;
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 1pt;
  }&:hover {
    color: $secondary-color;
    transition: all 0.6s ease;
  }
}

.dotted hr, .dotted02 hr, .dotted03 hr {
  margin: 0 1.5%;
  border-width: 0;
  color: $primary-color;
  border-color: $primary-color;
  border-top: dotted 4px;
}

.dotted02 hr {
  margin-top: 30px
}

.dotted03 hr {
  margin-bottom: 30px
}

/* ----- work section ----- */
.portfolio-grid {
  // background-color: #a2a2a2;
  width: 100%;
  padding-bottom: 30px;
}

/* portfolio filter buttons */
.filter-menu {
  padding: 30px 0 15px 0;
  text-align: center;
  .button {
    font-family: $font-main;
    display: inline-block;
    margin: 8px 30px;
    padding: 0;
    color: $secondary-color;
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
    line-height: 1px;
    letter-spacing: .1rem;
    text-transform: none;
    text-decoration: none;
    white-space: none;
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
    &:focus, &:active {
      transition: all 0.5s ease;
      border-bottom: 3px solid $secondary-color;
    }
    ::after {
      content: '';
      display: block;
      transition: width 0.4s;
      border-bottom: 0px solid $secondary-color;
    }
    &:hover::after {
      border-bottom: 3px solid $secondary-color;
    }
  }
}


/* portfolio filter */
* {
  box-sizing: border-box;
}

.content {
  background-color: white;
  margin: 10px;
  font-family: 'Raleway', helvetica, arial, sans-serif;
  color: #202020;
  cursor: pointer;
  transition: all 0.3s ease;
  img {
    padding: 10px 10px 0 10px;
    width: 100%;
  }
  h4 {
    color: black;
    font-size: 16pt;
    font-weight: 500;
    text-align: left;
    padding: 0 10px 5px 10px;
    margin: 0;
  }
  hr {
    margin: 0 10px;
    border-color: $primary-color;
    border-width: 1.5px;
    color: $primary-color;
    transition: background-image 1s ease;
    // &:hover {
    //   transition: all 0.3s ease;
    //   background-image: linear-gradient(to right,$secondary-color, $primary-color); /* Standard */;
    //   height: 3px;
    //   border-width: 0px;
    //   color: linear-gradient($secondary-color, $primary-color);
    //   }
  }
  p {
    color: black;
    font-size: 11pt;
    text-align: left;;
    text-transform: uppercase;
    padding: 5px 10px;
  }
  &:hover {
    transition: all 0.6s ease;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
  }
  &:hover hr {
      transition: all 0.3s ease;
      background-image: linear-gradient(to right,$secondary-color, $primary-color); /* Standard */;
      height: 3px;
      border-width: 0px;
      color: linear-gradient($secondary-color, $primary-color);
      }
}

/* Hide all elements by default */
.column {
  display: none;
}

/* The "show" class is added to the filtered elements */
.show {
   -moz-animation-delay: 3.5s;
   -webkit-animation-delay: 3.5s;
   -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
  display: block;
}


/* ----- say hi / contact section ----- */
.abouttext {
  i {
    font-size: 14pt;
  }
}

.contact-footer {
  padding-top: 40px;
  button {
    border: none;
  }
}


/* -- modal custom styling -- */
.iziModal .iziModal-header {
    padding: 14px 18px 15px;
    box-shadow: inset 0 -10px 15px -12px rgba(0,0,0,.3), 0 0 0 #555;
    overflow: hidden;
    position: relative;
    z-index: 10;
    h3 {
      font-weight: 500;
      margin: 5px;
    }
    p {
      margin-bottom: 5px;
    }
}

.modal-styling {
  margin: 0;
  color: black;
  padding: 15px 20px 15px 0;
}

.modal-styling2 {
  margin: 0;
  color: black;
  padding: 3%;
}

.iziModal {
  img {
    width: 100%;
    // padding: 5%;
  }
  button {
    padding: 0;
    margin: 15px 0;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid $secondary-color;
    transition: all 0.4s ease;
    &:hover {
      transition: all 0.6s ease;
      border-bottom: 3px solid $primary-color;
    } 
  }
  a {
    color: black;
    text-decoration: none;
  }
}


/* ---- media queries ---- */
/* correcting Skeleton CSS */
@media (min-width: 550px) {
  .one-third {
    margin-left: 0;
  }
}

/* ---- mobile ---- */
@media only screen and (min-width:320px) and (max-width:640px) {
  /* ---- nav ---- */
  nav {
    display: none
  }

  .mobilenav {
    p {
    padding-top: 18px;
    }
    h3 {
    padding-top: 25px;
    font-size: 22pt;
    }
  }

.overlay-content {
  top: 10%;
}

.overlay .closebtn {
  top: -10px;
  right: 15px;
}

/* ----- introduction ----- */
.display-o {
  display: none;
}

.display-m {
  display: block;
}

.abouttext {
  padding: 15px 0 0 0;
  p {
  font-size: 12pt;
  }
}

.about {
  padding-top: 30px;  
}

.colour-block {
  margin-bottom: 30px;
  height: 220px;
  h3 {
    text-align: right;
    font-size: 23pt;
    font-weight: 500;
    padding: 15% 6% 0 25%;
    margin-right: -25%;
  }
  hr {
    text-align: right;
    margin-right: -15%;
    margin-left: 70%;
    border-color: $primary-color;
    border-width: 4px;
    color: $primary-color;
  }
}

.skillset {
  padding: 0 20px 20px 20px;
}

.skills {
  padding: 10px;
}

.dotted hr {
  margin: 0 10%;
}

.dotted02 hr {
  margin: 10% 10%;
}

/* ---- work page ---- */
.filter-menu {
  margin: 0 0 20px 0;
  .button {
    font-size: 18pt;
    margin: 8px 23px;
  }
}

/* ---- footer ---- */
.footer-icons {
  font-size: 20pt;
  margin: 30px 0;
}

.fa {
  margin: 0 10px;
}

/* ---- override column structure ---- */ 
.one-third.column {
  width: 100%;
}

.modal-styling {
  padding: 10px 15px;
}

.iziModal {
  button {
    padding: 0;
    margin: 0 0 15px 15px;
  }
}


/* ---- large mobile ---- */

@media only screen and (min-width:550px) and (max-width:768px) {
  .tab-display {
    display: block;
    img {
      padding: 15px 0;
    }
  }

  .tab-display-none {
    display: none;
  }
}

@media only screen and (min-width:640px) and (max-width:768px) {
  /* ---- nav ---- */
  nav {
    display: none
  }

  .overlay-content {
    top: 15%;
  }

  .overlay .closebtn {
    top: -10px;
    right: 48px;
  }

  /* ---- override column structure ---- */
  .one-third.column {
    width: 50%;
  }

  .skills {
    padding: 0;
  }

  .content {
    h4 {
    font-size: 15pt;
    }
    p {
      font-size: 9pt;
    }
  }
}

/* ---- phablet ---- */
@media only screen and (min-width:768px) and (max-width:1023px) {
  /* ---- nav ---- */
  nav {
    display: none
  }

  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%;
  } 

  .skills {
    padding: 0 8px;
  }

  .colour-block {
    height: 250px;
  }

  .content {
    h4 {
      font-size: 14pt;
    }
    p {
      font-size: 10pt;
    }
  }

}

/* ---- tablet ---- */
@media only screen and (min-width:1024px) and (max-width:1365px) {

  /* ---- nav ---- */
  .mobilenav {
    display: none
  }

  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%;
  }
}

/* ---- desktop ---- */
@media only screen and (min-width:1366px) and (max-width:1599px) {
  /* ---- nav ---- */
  .mobilenav {
    display: none
  }

  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%;
  }
}

/* ---- large desktop ---- */
@media only screen and (min-width:1600px) and (max-width:1900px) {
  /* ---- nav ---- */
  .mobilenav {
    display: none
  }

  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%;
  }
}

@media only screen and (min-width: 1500px) {
  /* ---- nav ---- */
  .mobilenav {
    display: none
  }

  /* ---- override column structure ---- */
  .one-third.column {
    width: 25%;
  }

}
}